* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(29,37,1,1) 0%, rgba(0,57,212,1) 50%, rgb(80, 80, 80) 100%);
    color: white;
}

.mdc-list .mdc-list-item__graphic {
    color: white;
}

.prayer-time {
    color: white;
}

.prayer-box {
    color: white;
}

#app-bar {
    background-color: blueviolet;
    height: 10%;
    max-height: 10%;
    min-height: 10%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
}

#app-bar-text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-inline-start: 2%;
    color: white;
    display: inline-flex;
    width: 90%;
}

#menu-btn {
    font-size: 200%;
}

#app-name {
    padding-left: 4%;
    padding-top: 0.2%;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

#time {
    text-align: center;
    font-size: 300%;
}

#small-colon {
    font-size: 25px;
}

#second {
    padding-left: 5px;
    font-size: 25px;
}

#day-and-date {
    text-align: center;
    margin-top: 1%;
}

#location {
    width: 100%;
    text-align: center;
}

#sunrise-and-sunset {
    margin-top: 5%;
}

#sunrise {
    float:left;
}

#sunset {
    float: right;
}

#prayer-times {
    margin-top: 5%;
}


.pt-row {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inside-prayer-box {
    height: -webkit-fill-available;
    margin: auto;
    padding: 45px 0;
    overflow: auto;
}

.prayer-list {
    margin-top: 4%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(78,116,78,1) 36%, rgba(55,17,7,1) 76%, rgba(0,172,255,1) 100%);
    border: 2px solid;
    border-radius: 10px;
}

.prayer-box {
    width: 50%;
}

.prayer-name {
    font-size: xx-large;
    width: 10em;
    text-align: right;
}

.prayer-time {
    width: 50%;
    font-weight: bold;
    text-align: right;
}

/* #isha {
    width: 200px;
    height: 200px;
} */
